/* semantic color variables for this project */
:root {
  --primary-color: #F857A8;      /* Pink */
  --primary-color-light: #F6DEFF; /* Light pink */
  --primary-color-even-light: #F8E9FE; /* Even lighter pink */
  --secondary-color: #FFF0F5;    /* Lighter pink */
  --secondary-color-half-transparent: rgba(255, 240, 245, 0.5); /* Half-transparent lighter pink */
  --secondary-color-80-transparent: rgba(255, 240, 245, 0.8); /* 80% transparent lighter pink */
  --lighter-pink: #FFF9FC; /* even lighter pink */
  --accent-color: #FFC4EA;       /* Light pink */
  --dark-pink: #DB7093;         /* Pale violet red */
  --text-dark: #4A0E1C;         /* Deep red */
  --text-light: #FFFFFF;        /* White for text on dark backgrounds */
  --background-light: #FFF0F5;  /* Lavender blush for light backgrounds */
}